@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Space Grotesk", serif;
  background-color: #fff; }

body {
  display: grid;
  height: fit-content;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

body :where(header, main) {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 50px; }

button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer; }

a {
  text-decoration: none;
  color: white; }

@media (max-width: 768px) {
  body :where(header, main, footer) {
    padding: 15px; } }

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* Fondo blanco de base */
  background-image: radial-gradient(100% 50% at 50% 0%, rgba(0, 163, 255, 0.13) 0%, rgba(0, 163, 255, 0) 50%, rgba(0, 163, 255, 0) 100%);
  z-index: -10; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .nav .nav--logo a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem; }
  .nav .nav--links ul {
    display: flex;
    gap: 35px;
    list-style: none; }
    .nav .nav--links ul a {
      text-decoration: none;
      font-size: 1.5rem;
      color: #000; }
  .nav .nav--cart {
    display: flex;
    gap: 30px; }
    .nav .nav--cart div img {
      width: 25px;
      cursor: pointer; }

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 700px;
  border-radius: 20px;
  background-image: url("../../assets/img/hero.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 200px;
  color: white; }
  .hero .hero--bg {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: black;
    position: 0;
    left: 0;
    opacity: 0.7; }
  .hero h1 {
    font-size: 6rem;
    text-align: center;
    max-width: 900px;
    line-height: 50px;
    z-index: 10; }
  .hero p {
    font-size: 3rem;
    z-index: 10; }
  .hero .hero--btns {
    display: flex;
    gap: 20px;
    z-index: 10; }

@media (max-width: 768px) {
  .hero {
    text-align: center;
    padding: 5px;
    margin-bottom: 100px; } }

@media (max-width: 425px) {
  .hero h1 {
    line-height: 40px;
    font-size: 4rem; }
  .hero p {
    font-size: 2rem; } }

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 30px 0;
  border-radius: 20px; }
  .slogan div {
    max-width: 900px;
    text-align: center;
    font-size: 4rem; }

.relevant--ebook {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: fit-content;
  margin: 200px 0; }
  .relevant--ebook h3 {
    font-size: 4rem; }
  .relevant--ebook p {
    font-size: 2rem; }
  .relevant--ebook .relevant--ebook__left-container,
  .relevant--ebook .relevant--ebook__right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 250px; }
  .relevant--ebook .relevant--ebook__left-container {
    text-align: center; }
    .relevant--ebook .relevant--ebook__left-container .relevant--ebook--quote {
      font-style: italic; }
  .relevant--ebook .relevant--ebook__center-container img {
    width: 400px;
    border-radius: 15px; }
  .relevant--ebook .relevant--ebook__right-container {
    text-align: center; }

@media (max-width: 1768px) {
  .relevant--ebook {
    flex-direction: column;
    justify-content: center;
    gap: 25px; }
    .relevant--ebook h3 {
      font-size: 6rem; }
    .relevant--ebook p {
      font-size: 3rem; } }

.ebooks {
  margin-bottom: 150px; }
  .ebooks .ebooks--title {
    font-size: 2rem; }
  .ebooks .ebooks--collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    height: fit-content;
    margin-top: 100px; }
    .ebooks .ebooks--collection .ebook--card {
      height: fit-content;
      text-align: center; }
      .ebooks .ebooks--collection .ebook--card .ebook--cover img {
        width: 250px;
        height: 350px;
        border-radius: 10px; }
      .ebooks .ebooks--collection .ebook--card .ebook--info {
        margin: 10px 0; }
        .ebooks .ebooks--collection .ebook--card .ebook--info .ebook--title {
          font-size: 2rem; }
        .ebooks .ebooks--collection .ebook--card .ebook--info .ebook--author {
          font-size: 1.5rem; }
      .ebooks .ebooks--collection .ebook--card .ebook--btns {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center; }
        .ebooks .ebooks--collection .ebook--card .ebook--btns button {
          cursor: pointer; }
        .ebooks .ebooks--collection .ebook--card .ebook--btns img {
          width: 25px;
          cursor: pointer; }

footer {
  position: relative;
  background-color: black;
  color: white;
  padding: 50px 0;
  height: 700px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%); }
  footer .reveal--content {
    position: fixed;
    height: 700px;
    width: 100%;
    bottom: 0;
    background-color: black; }
  footer section {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px; }

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px; }
  .footer__contact p {
    font-size: 2rem; }
  .footer__contact h3 {
    font-size: 10rem;
    font-weight: bold; }

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .footer__links .footer__links--logo p {
    font-size: 3rem;
    font-weight: bold; }
  .footer__links .footer__links--links ul {
    display: flex;
    flex: 1;
    gap: 80px;
    list-style: none;
    font-size: 2rem; }
  .footer__links .footer__links--social {
    display: flex;
    align-items: center;
    gap: 30px; }
    .footer__links .footer__links--social a img {
      width: 25px; }
