.ebooks {
  margin-bottom: 150px;
  .ebooks--title {
    font-size: map-get($font-size, medium);
  }

  .ebooks--collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
    height: fit-content;
    margin-top: 100px;

    .ebook--card {
      width: 300px;
      height: fit-content;
      text-align: center;

      .ebook--cover img {
        width: 250px;
        height: 350px;
        border-radius: 10px;
      }

      .ebook--info {
        margin: 10px 0;

        .ebook--title {
          font-size: map-get($font-size, medium);
        }

        .ebook--author {
          font-size: map-get($font-size, normal);
        }
      }

      .ebook--details {
        margin: 20px 0;

        .ebook--price {
          font-size: map-get($font-size, medium);
        }

        .ebook--description {
          font-size: map-get($font-size, normal);
          height: 60px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          text-overflow: ellipsis;
        }
      }

      .ebook--btns {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;

        button {
          cursor: pointer;
        }

        img {
          width: 25px;
          cursor: pointer;
        }
      }
    }
  }
}

// Tablet
@media (max-width: 779px) {
  .ebooks .ebooks--collection {
    justify-content: center;
    gap: 40px;
  }
}
