footer {
  position: relative;
  background-color: black;
  color: white;
  padding: 50px 0;
  height: 700px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

  .reveal--content {
    position: fixed;
    height: 700px;
    width: 100%;
    bottom: 0;
    background-color: black;
  }

  section {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    // text-align: center;
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  p {
    font-size: map-get($font-size, medium);
  }

  h3 {
    font-size: 10rem;
    font-weight: bold;
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .footer__links--logo p {
    font-size: map-get($font-size, large);
    font-weight: bold;
  }

  .footer__links--links ul {
    display: flex;
    flex: 1;
    gap: 80px;
    list-style: none;
    font-size: map-get($font-size, medium);
  }

  .footer__links--social {
    display: flex;
    align-items: center;
    gap: 30px;

    a img {
      width: 25px;
    }
  }
}
